@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-body: rgba(0, 0, 0);
    --color-text: rgba(255, 255, 255);
    --color-cyan: rgba(38, 181, 237);
    --color-navyblue: rgba(0, 31, 73);
    --color-brand: darkblue;
    --color-brand2: silver;
    --font-base: "Redig";
    --sidebar-width: 150px
}

body {
    background-color: var(--color-text);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;

}


h1,h2,h3,h4,h5,h6 {
    color: var(--color-text);
    font-weight: 700;
}

p {
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-cyan);

}

.service {
    background-color: var(--color-navyblue);
}

.link-custom {
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-cyan);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-cyan);
    position: relative;
}

.bg-base {
    background-color: var(--color-cyan);
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-cyan);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.underline:hover::after {
    width: 100%;
    
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(white, 0.1);
}

.shadow-effect {
    transition: all, 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-cyan);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-cyan);
    color: var(--color-body);
}

/* NAVBAR */

.navbarimg {
    width: auto;
    max-height: 100px;
}

.navbar {
    background-image: linear-gradient(var(--color-cyan), 5%, var(--color-body));
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.navbar .nav-link:hover {
    color: var(--color-cyan);
}

.navbar .nav-link.active {
    color: var(--color-cyan);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background-image: linear-gradient(var(--color-cyan), 0.5%, var(--color-body));
        background-size: cover;
        background-position: center;
    }
    
    /* CONTENT WRAPPER */

    #content-wrapper {
        padding-left: 150px;
    
    }

}

@media (max-width: 992px) {
    .contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* BTN */
.btn {
    padding: 12px, 28px;
    font-weight: 700;
    color: var(--color-cyan);
}

.btn-brand {
    color: var(--color-text);
    background-color: var(--color-body);
    border: 0.5px solid var(--color-text);
}
.btn-brand:hover, .btn-brand:focus {
    color: var(--color-body);
    background-color: var(--color-text);
}

/* CARD */

.contact-card {
    background-color: var(--color-navyblue);
}

.contact-card-links {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* zoom effect */

.card-custom {
    background-color: var(--color-navyblue);
}

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
    
}

/* HOME */



/* PROJECTS */
